html{
   background-color: #FFFAF0;
}

body {
	 background-color: inherit;
}

 #container {
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #2F4F4F;
  background-color: inherit;
 }

 #timer {
  font-family: 'Ubuntu', sans-serif;
	font-size: 250pt;
	text-align: center;
 }

 #date {
	display: none;
  font-family: 'Ubuntu', sans-serif;
	font-size: 60pt;
	text-align: center;
 }

#fullscreen {
	position: absolute;
	bottom: 10px;
	right: 10px;
	opacity: 0.3;
}

#fullscreen:hover {
	opacity: 1;
}
