html{
   background-color: #FFFAF0;
}

body {
	 background-color: inherit;
}

 #container {
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #2F4F4F;
  background-color: inherit;
 }

 #timer {
	font-family: Segoe UI;
	font-size: 300;
	text-align: center;
 }

 #date {
	display: none;
	font-family: Segoe UI;
	font-size: 70;
	left: 200px;
	text-align: center;
 }

#fullscreen {
	position: absolute;
	bottom: 10;
	right: 10;
	opacity: 0.3;
}

#fullscreen:hover {
	opacity: 1;
}
