 html:-webkit-full-screen-ancestor {
    background-color: #fff;
}
html:-moz-full-screen-ancestor {
    background-color: #fff;
}
 
 body {
	 background-color: white;
	 
 }
 
 #timer {
	font-family: Segoe UI;
	font-size: 300;
 	position: fixed; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: red;
 }
 
#timer:-webkit-full-screen {
	font-size: 400;
}
 
#fullscreen {
	position: absolute;
	bottom: 0;
	right: 10;
	opacity: 0.3;
}

#fullscreen:hover {
	opacity: 1;
}


